// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.addUser{
    color: rgba($color: #3381ca, $alpha: 1.0);
    font-size: 1.5em;
}

.cancelGroup{
    color: red;
    font-size: 1.5em;
}