// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
hr{
    
    background-color: black;
    
}
.panel-body{
    
    font-family: Arial, Helvetica, sans-serif;
    
}
b{
    color: blue !important; 
}
h1{
    font-family: fantasy !important;
}
