.p{
 padding-left: 35px;
}
.links{
    padding-left: 10%;
    color:#F2C64D;
}
.btn2{
   
    width: 290px;
     height: 40px;
     font-size:16px;
     size: 150%;
     height: 40px;
     border: none;
     color: #fff;
     box-shadow:none;
     cursor: pointer;
     background: #F0542C;
     border-radius: 30px;
   bottom: 5px;
       right: 5px;
       font-weight: 600;
 
   }
   .actions{
padding-left: 45px;

   }